<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">

<head>
    <link href="/bootstrap.min.css" rel="stylesheet" />
    <style>
        .header {
            padding: 60px;
            text-align: center;
            background: #e8e8e3;
            color: black;
            font-size: 30px;
        }

        table {
            width: 100%;
        }
    </style>
</head>

<body>
    <div class="header">
        <h1><b>Event Management App</b></h1>
    </div>
    <div class="album py-5">
        <div class="container">
            <div class="my-2">
                <div class="col">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Name</th>
                                <th scope="col">Description</th>
                                <th scope="col">Image</th>
                                <th scope="col"></th>
                                <th scope="col">Date Created</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>

</html>