<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">

<head>
    <link href="/bootstrap.min.css" rel="stylesheet" />
</head>

<body>
    <div>
        <img src="/no-image.jpg">
    </div>
    <div>
        <h5>Category ID</h3>
            <p>
                <%= category.categoryId %>
            </p>
            <h5>Name</h3>
            <p>
                <%= category.name %>
            </p>
            <h5>Description</h3>
            <p>
                <%= category.description %>
            </p>
            <h5>Created Date Time</h3>
            <p>
                <%= category.createdAt %>
            </p>
    </div>
    <div class="album py-5">
        <div class="container">
            <div class="my-2">
                <div class="row row-cols-1 row-cols-sm-2 g-3">
                    <div class="col">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Id</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Start</th>
                                    <th scope="col">End</th>
                                    <th scope="col">Duration</th>
                                    <th scope="col">Is Active</th>
                                    <th scope="col">Capacity</th>
                                    <th scope="col">Tickets Available</th>
                                    <th scope="col">Categoies ID</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for (let i=0; i < events.length; i++){ %>
                                    <tr>
                                        <th scope="row">
                                            <%= events[i].eventId %>
                                        </th>
                                        <td>
                                            <%= events[i].name %>
                                        </td>
                                        <td>
                                            <%= events[i].date.toLocaleString() %>
                                        </td>
                                        <td>
                                            <%= events[i].end() %>
                                        </td>
                                        <td>
                                            <%= Math.round(events[i].duration / 6) / 10 + " Hour(s)" %>
                                        </td>
                                        <td>
                                            <%= events[i].isActive %>
                                        </td>
                                        <td>
                                            <%= events[i].capacity %>
                                        </td>
                                        <td>
                                            <%= events[i].availability %>
                                        </td>
                                        <% let categories="" %>
                                        <% for (let j = 0; j < events[i].categoryList.length; j++) { %>
                                            <% if (j == events[i].categoryList.length - 1) { %>
                                                <% categories += `${events[i].categoryList[j].categoryId}` %>
                                            <% } else { %>
                                                <% categories += `${events[i].categoryList[j].categoryId}, ` %>
                                            <% } %>
                                        <% } %>
                                        <td>
                                            <%= categories %>
                                        </td>
                                        <td>
                                            <a href="<%= `/event/32528558/view-details/${events[i].eventId}` %>"><button class="btn btn-primary">View</button></a>
                                        </td>
                                    </tr>
                                <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>