<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">

<head>
    <link href="/bootstrap.min.css" rel="stylesheet" />
</head>

<body>
    <div>
        <img src="/no-image.jpg">
    </div>
    <div>
        <h3>Category ID</h3>
            <p>
                {{category.categoryId}}
            </p>
            <h3>Name</h3>
            <p>
                {{category.name}}
            </p>
            <h3>Description</h3>
            <p>
                {{category.description}}
            </p>
            <h3>Created Date Time</h3>
            <p>
                {{category.createdAt}}
            </p>
    </div>
    <div class="album py-5">
        <div class="container">
            <div class="my-2">
                <div class="row row-cols-1 row-cols-sm-2 g-3">
                    <div class="col">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Id</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Start</th>
                                    <th scope="col">End</th>
                                    <th scope="col">Duration</th>
                                    <th scope="col">Is Active</th>
                                    <th scope="col">Capacity</th>
                                    <th scope="col">Tickets Available</th>
                                    <th scope="col">Categories ID</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let event of events">
                                    <th scope="row">
                                        {{event.eventId}}
                                    </th>
                                    <td>
                                        {{event.name}}
                                    </td>
                                    <td>
                                        {{getEndDate(event.date, event.duration) | date:'medium'}}
                                    </td>
                                    <td>
                                        {{getHours(event.duration)}}
                                    </td>
                                    <td>
                                        {{event.isActive}}
                                    </td>
                                    <td>
                                        {{event.capacity}}
                                    </td>
                                    <td>
                                        {{event.availability}}
                                    </td>
                                    <td>
                                        {{getCategories(event.categoryList)}}
                                    </td>
                                    <td>
                                        <a [routerLink]="['/view-event', event.eventId]"><button class="btn btn-primary">View</button></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>