<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">

<head>
    <link href="/bootstrap.min.css" rel="stylesheet" />
    <style>
        .header {
            padding: 60px;
            text-align: center;
            background: #e8e8e3;
            color: black;
            font-size: 30px;
        }

        table {
            width: 100%;
        }
    </style>
</head>

<body>
    <div class="header">
        <h1><b>Event Management App</b></h1>
    </div>
    <div class="album py-5">
        <div class="container">
            <div class="my-2">
                <div class="col">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Name</th>
                                <th scope="col">Start</th>
                                <th scope="col">End</th>
                                <th scope="col">Duration</th>
                                <th scope="col">Is Active</th>
                                <th scope="col">Capacity</th>
                                <th scope="col">Tickets Available</th>
                                <th scope="col">Categoy Id</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of records">
                                <th scope="row">
                                    {{item.eventId}}
                                </th>
                                <td>
                                    {{item.name}}
                                </td>
                                <td>
                                    {{item.date | date:'medium'}}
                                </td>
                                <td>
                                    {{getEndDate(item.date, item.duration) | date:'medium'}}
                                </td>
                                <td>
                                    {{getHours(item.duration)}}
                                </td>
                                <td>
                                    {{item.isActive}}
                                </td>
                                <td>
                                    {{item.capacity}}
                                </td>
                                <td>
                                    {{item.availability}}
                                </td>
                                <td>
                                    {{getCategories(item.categoryList)}}
                                </td>
                                <td>
                                    <a><button class="btn btn-primary">View</button></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
