<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">

<head>
    <link href="/bootstrap.min.css" rel="stylesheet" />
</head>

<body>
    <div>
        <img src="/events.jpg">
    </div>
    <div>
        <h3>Event ID</h3>
        <p>
            {{event.eventId}}
        </p>
        <h3>Name</h3>
        <p>
            {{event.name}}
        </p>
        <h3>Description</h3>
        <p>
            {{event.description}}
        </p>
        <h3>Start Date Time</h3>
        <p>
            {{event.startDate}}
        </p>
        <h3>End Date Time</h3>
        <p>
            {{getEndDate(event.date, event.duration) | date:'medium'}}
        </p>
        <h3>Duration</h3>
        <p>
            {{getHours(event.duration)}}
        </p>
        <h3>Is Active</h3>
        <p>
            {{event.isActive}}
        </p>
        <h3>Capacity</h3>
        <p>
            {{event.capacity}}
        </p>
        <h3>Tickets Available</h3>
        <p>
            {{event.availability}}
        </p>
        <h3>Categories ID</h3>
        <p>
            {{getCategories(event.categoryList)}}
        </p>
    </div>
</body>

</html>